@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

.drop-zone {
  height: 290px;
  background-color: scale-color(theme-color("secondary"), $lightness: 20%);
  border: 5px dashed theme-color("secondary");
  color: black;
  text-align: center;

  &.active {
    background-color: scale-color(theme-color("primary"), $lightness: 20%);
    border-color: theme-color("primary");
  }

  &.ready {
    background-color: scale-color(theme-color("success"), $lightness: 20%);
    border-color: theme-color("success");
  }
}

.drop-icon {
  font-size: 5rem;
  display: block;
}

.fit-to-container{
  width: 100px;
  padding-top: 10px;
}

input[type=file]{
  display: none;
}
